:root {
  --wrapper-width: 300px;
  --wrapper-height: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #FFF0F5, #FFFFFF);
}

.wrapper {
  width: var(--wrapper-width);
  height: var(--wrapper-height);
  background-color: #FFB6C1;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: calc(var(--wrapper-width) / 2) solid transparent;
  border-bottom: calc(var(--wrapper-height) / 2) solid transparent;
  border-left: calc(var(--wrapper-width) / 2) solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

.lid.one {
  border-top: calc(var(--wrapper-height) / 2) solid #FF69B4;
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

.lid.two {
  border-top: calc(var(--wrapper-height) / 2) solid #FFB6C1;
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: calc(var(--wrapper-height) / 2) solid transparent;
  border-right: calc(var(--wrapper-width) / 2) solid #FFDAB9;
  border-bottom: calc(var(--wrapper-height) / 2) solid #FFDAB9;
  border-left: calc(var(--wrapper-width) / 2) solid #FFE4E1;
  z-index: 3;
}

.letter {
  position: absolute;
  top: 0;
  width: 80%;
  height: 80%;
  background-color: #FFF5EE;
  border: 2px solid #FF69B4;
  border-radius: 15px;
  z-index: 2;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.letter p {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  color: #C71585;
}

.wrapper:hover .lid.one {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.wrapper:hover .lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.25s;
}

.wrapper:hover .letter {
  transform: translateY(-50px);
  transition-delay: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #FDFDFD;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #FF69B4;
  width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #FF69B4;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #C71585;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  :root {
    --wrapper-width: 80vw;
    --wrapper-height: calc((200 / 300) * 80vw);
  }

  .modal-content {
    width: 90%;
    margin: 10% auto;
  }

  .letter p {
    font-size: 20px;
  }
}
